.navegar {
    background-color: rgb(119, 87, 160);
    position: fixed;
    width: 17%;
}

.Perfil {
    font-family: petrona;
}

.carta {
    margin-left: 20%;
}

.Borde {
    border: 1px solid;
    border-radius: 100px;
    padding: 10px;
    width: 80%;
}

.user {
    border: 1px solid;
    border-radius: 100px;
    padding: 10px;
    width: 80%;
    height: 40px;
}

.Correo {
    margin-left: 160px;
}

.imagen {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 25px auto;
    border: 15px groove rgb(221, 172, 23);
}

.bordes {
    border-radius: 40px;
}

.racha {
    border: 4px solid;
    border-radius: 100px;
    padding: 5px;
    margin-left: 10px;
}

.dias {
    border: 2px solid;
    border-radius: 100px;
}

.borde {
    border: 4px solid;
    border-radius: 100px;
}

.cards {
    border: 4px solid;
}

.progreso {
    width: 650px;
    height: 25px;
    border-radius: 30px;
}