* {
    font-family: petrona;
}

.foto_perfil {
    max-width: 20%;
}

.contenedor1 {
    order: -1;
}

.nombre_usuario {
    font-size: 40px;
}

.dias_racha {
    font-size: 35px;
}

.dias_sobrantes {
    background-color: #EEF7FF;
}
.dias{
    background-color: #3D9DF2;
}
/* .progreso_lenguaje {
    max-width: 650px;
} */


.barra_progreso {
    width: 45%;
    background-color: #3D9DF2;
}

.navegar {
    background-color: #4C428C;
    position: fixed;
    width: 17%;
}



.carta {
    margin-left: 0%;
    position: relative;
}

.Borde {
    border: 1px solid;
    border-radius: 100px;
    
    
}

.user {
    border: 1px solid;
    border-radius: 100px;
    padding: 10px;
    width: 80%;
    height: 40px;
}

.Correo {
    margin-left: 0px;
}

.imagen {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 25px auto;
    border: 15px groove rgb(221, 172, 23);
}

.bordes {
    border-radius: 40px;
    max-width: 900px;
    background-color: #DCC2FE;
}

.racha {
    border: 1px solid;
    border-radius: 100px;
    padding: 5px;
    margin-left: 10px;
}

.dias {
    border: 2px solid;
    border-radius: 100px;
}

.borde {
    border: 4px solid;
    border-radius: 100px;
}

.cards {
    border: 4px solid;
}

.progreso {
    width: 100%;
    height: 25px;
    border-radius: 30px;
}

.logo {
    width: 145px;
    height: auto;
}

.items_menu {
    text-decoration: none;
}

.imagen2 {
    height: 30%;
    width: auto;
    display: flex;
    align-items: center;
    padding: 5%;
}

.menu {
    background-color: #4C428C;
    position: fixed;
    height: 100vh;
    z-index: 10;
}

.abrir-menu {
    display: none;
}

.cerrar-menu {
    width: 70px;
    display: none;
}

.caja_barras{
    border-radius: 20px;
}

@media screen and (max-width: 577px) {
    .abrir-menu {
        display: block;
    }

    .cerrar-menu {
        display: block;
    }
}


@media screen and (min-width:992px) {
    .busqueda {
        margin-right: 11%;
        padding-left: 0px;
    }
    .carta{
        margin-left: 20%;
    }

    .Correo{
        margin-left: 160px;
    }
}

@media screen and (min-width: 768px) {
    .abrir-menu {
        display: block;
    }

    .cerrar-menu {
        display: block;
    }
}