.menu_item {
    text-decoration: none;
}

.lista_podio {
    margin-left: 15%;
}

.titulo_podio {
    font-size: 50px;
    margin-left: 15%;
}
.divisor{
    width: 40%; 
    border-bottom: 1px solid rgb(39, 17, 46);
}
ul::-webkit-scrollbar{
    display: none;
}



.titulo_usuario {
    font-size: 25px;
} 

/* .col-6 {
    margin: 140px;
    position: fixed;
}  */

 .container-fluid {
    font-family: petrona;
}

.letras {
    font-size: 20px;
}

.podio {
    position: absolute;
}


.Bordes {
    border: 1px solid;
    border-radius: 100px;
    padding: 5px;
    width: 69%;
    background-color: #ebe9f8;
}

.imagen2 {
    border: 1px solid;
    border-radius: 100px;
    padding: 10px;
    width: 74%;
}
.imagen_usuario{
    display: flex;
    justify-content: center;
    align-items:center ;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin: 25px auto;
    border: 15px groove rgb(221, 172, 23);
}



.navegar {
    background-color: rgb(119, 87, 160);
    position: fixed;
}

 .Posicion {
    margin-top: 10%;
}

.imagen {
    border: 2px solid;
    border-radius: 20px;
    height: 40%;
}

.titulo {
    margin-right: 247px;
} 

.logo {
    width: 145px;
    height: auto;
}

.imagen_menu {
    height: 30%;
    width: auto;
    display: flex;
    align-items: center;
    padding: 5%;
}

.items_menu {
    text-decoration: none;
}

.menu {
    background-color: rgb(119, 87, 160);
    position: fixed;
    height: 100vh;
    z-index: 10;
}

.abrir-menu {
    display: none;
}

.cerrar-menu {
    width: 70px;
    display: none;
}

.visible {
    opacity: 1;
    visibility: visible;
}

@media screen and (max-width: 577px) {
    .abrir-menu {
        display: block;
    }

    .cerrar-menu {
        display: block;
    }
}

@media screen and (min-width:992px) {
    .busqueda {
        margin-right: 11%;
        padding-left: 0px;
    }
}

@media screen and (min-width: 768px) {
    .abrir-menu {
        display: block;
    }

    .cerrar-menu {
        display: block;
    }
}