.menu_item {
    text-decoration: none;
}

.lista_podio {
    margin-left: 15%;
}

.titulo_podio {
    font-size: 25px;
    margin-left: 15%;
}

.primero_podio {
    background-color: rgb(198, 159, 26);
}

.segundo_podio {
    background-color: rgb(171, 168, 151);
}

.tercero_podio {
    background-color: rgb(227, 145, 62);
}

.titulo_usuario {
    font-size: 25px;
} 

/* .col-6 {
    margin: 140px;
    position: fixed;
}  */

 .container-fluid {
    font-family: petrona;
}

.letras {
    font-size: 20px;
}

.podio {
    position: absolute;
}

.Borde {
    border: 1px solid;
    border-radius: 100px;
    padding: 5px;
    width: 69%;
}

.Bordes {
    border: 1px solid;
    border-radius: 100px;
    padding: 5px;
    
}

.imagen2 {
    border: 1px solid;
    border-radius: 100px;
    padding: 10px;
    width: 74%;
}



.navegar {
    background-color: rgb(119, 87, 160);
    position: fixed;
}

 .Posicion {
    margin-top: 10%;
}

.imagen {
    border: 2px solid;
    border-radius: 20px;
    padding: 5%;
    /* height: 50%; */
}

.titulo {
    margin-right: 247px;
} 

.logo {
    width: 145px;
    height: auto;
}

.imagen_menu {
    height: 30%;
    width: auto;
    display: flex;
    align-items: center;
    padding: 5%;
}

.items_menu {
    text-decoration: none;
}

.menu {
    background-color:#4C428C;
    position: fixed;
    height: 100vh;
    z-index: 10;
}

.abrir-menu {
    display: none;
}

.cerrar-menu {
    width: 70px;
    display: none;
}

.visible {
    opacity: 1;
    visibility: visible;
}
.dividor{
    height: 1px;
    background-color: #4C428C;
}

@media screen and (max-width: 577px) {
    .abrir-menu {
        display: block;
    }

    .cerrar-menu {
        display: block;
    }
}


@media screen and (min-width:992px) {
    .busqueda {
        margin-right: 11%;
        padding-left: 0px;
    }
}

@media screen and (min-width: 768px) {
    .abrir-menu {
        display: block;
    }

    .cerrar-menu {
        display: block;
    }
}