.fondo {
    background: radial-gradient(249.51% 131.7% at 100% 90.72%, #602160 0%, #280652 76.04%);
    height: 100vh;
    overflow: hidden;
}
* {
    font-family: Petrona;
}



.fondo_atras {
    height: 100vh;
    background: radial-gradient(249.51% 131.7% at 100% 90.72%, #602160 0%, #280652 76.04%);
}







.imagen {
    width: 10px;
    height: auto;
}

.letra {
    font-size: 1rem;
}

@media screen and (min-width:768px) {
    .letra {
        font-size: 1.1rem;
    }

    .imagen {
        width: 350px;
    }
}