* {
    font-family: petrona;
}

.menu_item {
    text-decoration: none;
}

.temas {
    /* width: 30rem; */
    border: none;
}

.titulo_inicio {
    max-width: 20%;
}

.titulo_cantactar {
    max-width: 13%;
}

.titulo_perfil {
    max-width: 21%;
}

.titulo_ranking {
    max-width: 16%;
}

.carta_lenguaje {
    /* max-width: 49%; */
    margin-top: 20%;
}

.carta_java {
    background-color: #A6CAFF;
    border: none;
    border-radius: 15px;
}

.carta_logo_java {
    background-color: #87B7FE;
}

.carta_javascript {
    background-color: #FDFFB2;
}

.carta_logo_javascript {
    background-color: #FDFFC7;
}

.carta_python {
    background-color: #518DE3;
}

.carta_logo_python {
    background-color: #4F60F3;
}

.carta_swift {
    background-color: #EF923C;
}

.carta_logo_swift {
    background-color: #FEA554;
}

.carta_php {
    background-color: #B8D5FF;
}

.carta_logo_php {
    background-color: #C3DCFF;
}

.carta_csharp {
    background-color: #A054FF80;
}

.carta_logo_csharp {
    background-color: #DCC2FE;
}

.navegar {
    background-color: #4C428C;
    position: fixed;
    width: 17%;
}

.titulo {
    background-color: #7757A0;
    border-radius: 30px;
    padding-left: 4%;
    padding-top: 2%;
    height: 35px;
    color: white;
}

/* .cartas {
    margin-left: 15%;
} */

.bola {
    border-radius: 100px;
    width: 90px;
    height: 90px;
    position: absolute;
    left: 31%;
    top: -31%;
}

.btn_nivel {
    filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.25));
    border: none;
    color: black;
    transition: none;
}

.btn_nivel:hover {
    background-color: transparent;
    color: #000;
}

.lenguaje_img {
    top: 18%;
    left: 20%;
    position: relative;
    width: 60%;
}

.btn_java {
    background-color: #87B7FE;
}

.btn_python {
    background-color: #4F5FF3;
}

.btn_javascript {
    background-color: #FDFFC7;
}

.btn_swift {
    background-color: #FEA554;
}

.btn_php {
    background-color: #C3DCFF;
}

.btn_c {
    background-color: #DCC2FE;
}

.foto_perfil {
    max-width: 20%;
}

.logo {
    width: 145px;
    height: auto;
}

.imagen_menu {
    height: 30%;
    width: auto;
    display: flex;
    align-items: center;
    padding: 5%;
}

.items_menu {
    text-decoration: none;
}

.menu {
    background-color:#4C428C;
    position: fixed;
    height: 100vh;
    z-index: 10;
}

.abrir-menu {
    display: none;
}

.cerrar-menu {
    width: 70px;
    display: none;
}

.visible {
    opacity: 1;
    visibility: visible;
}

@media screen and (max-width: 577px) {
    .abrir-menu {
        display: block;
    }

    .cerrar-menu {
        display: block;
    }
}

@media screen and (min-width:992px) {
    .busqueda {
        margin-right: 11%;
        padding-left: 0px;
    }

    .temas{
        width: 30rem;
    }
}

@media screen and (min-width: 768px) {
    .abrir-menu {
        display: block;
    }

    .cerrar-menu {
        display: block;
    }
}