.fondo_atras {
    background: radial-gradient(249.51% 131.7% at 100% 90.72%, #602160 0%, #280652 76.04%);
    height: 100vh;
    overflow: hidden;
}

.fondo_delante {
    background: white;
    border-radius: 40px;
    height: 85vh;
}

.formulario {
    border-radius: 40px 40px 40px 40px;
}
.carta{
    height: 400px;
    width: 320px;
    border: 1px solid rgb(190, 186, 186);
    border-radius: 20px;
    display:flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.1), -2px -2px 10px 0 rgba(255, 255, 255, 0.5);
}
.photo{
    border: 1px solid rgb(211, 202, 202);
    border-radius: 9999px;
    height: 250px;
    width: 250px;
    position: relative;
    display:flex;
    justify-content:center;
    align-items: center;
    margin-top: 20px;
}
.icono{
    height: 50px;
    width: 50px;
    border-radius: 99px;
    border: none;
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: rgb(147, 185, 235);
}
.registrar {
    background-color: #7757A0;
    color: white;
    border-radius: 50px;
    transition: 0.4s;
}
.botonRegistra{
    background-color: #6ba3ee;
    border: none;
    border-radius: 20px;
    height: 40px;
    color: white;
    font-weight: bold;
}
.botonRegistra:hover{
    background-color:#3784e7;
}
.formTxt{
    background-color: rgb(235, 230, 240);
    border: none;
    height: 40px;
    border-radius: 12px;
   
}
.formTxt:focus{
    border-color: #ECDEF2; /* Cambia el color del borde cuando el input está seleccionado */
    box-shadow: 0 0 5px rgb(57, 57, 58); /* Agrega una sombra cuando el input está seleccionado */
    outline: none;
}

.registrar:hover {
    border-color: #7757A0;
}

* {
    font-family: petrona;
}

.letra {
    font-size: 1rem;
}

.linea {
    width: 42%;
    height: 2px;
    margin-top: 4%;
    background-color: black;
}



.google_png {
    max-width: 8%;
    margin-right: 4%;
}

.imagen {
    height: auto;
    width: 150px;
}

.fs-lg-custom {
    font-size: 1rem;
}

@media screen and (min-width: 992px) {
    .imagen {
        width: 350px;
    }

    .fs-lg-custom {
        font-size: 1.9rem;
    }

    .letra {
        font-size: 1.2rem;
    }

    .formulario {
        border-radius: 0px 40px 40px 0px
    }
}